.App {
  text-align: center;
}

.content-wrapper {
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
}

.side--body {
  max-width: 100px;
  /* min-width: 100px; */
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navbar--body{
  width: 100px;
  /* min-width: 100%; */
  width: calc(100% - 100px);
  /* display: flex; */
  height: 100%;
}
.content-block {
  width: 100%;
  /* overflow: hidden; */
  width: calc(100% - 100px);
}

@media screen and (max-width: 767px) {
  .side--body {
    width: 60px;
    max-width: 60px;
  }
}
